<a href="https://colab.research.google.com/github/CompPsychology/psych290_colab_public/blob/main/notebooks/week-01/W1_HW1_SQL_NinjaTraining_(dla_tutorial).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# W1 Homework 1: SQL Ninja Fundamentals (2025-03)

(c) Johannes Eichstaedt & the World Well-Being Project, 2023.

‚úãüèª‚úãüèª NOTE - You need to create a copy of this notebook before you work through it. Click on "Save a copy in Drive" option in the File menu, and safe it to your Google Drive.

‚úâÔ∏èüêû If you find a bug/something doesn't work, please slack us a screenshot, or email johannes.courses@gmail.com.

## Setting up Colab with DLATK and SQLite

As discussed in the tutorials, we begin by setting up the Colab environment.

This will take ~1.5 to 2 minutes. If colab asks you about this not being authored by Google, say "Run anyway."

### Install packages

In [ ]:
# installing DLATK and necessary packages
!git clone -b psych290 https://github.com/dlatk/dlatk.git
!pip install dlatk/
!pip install jupysql

Cloning into 'dlatk'...
remote: Enumerating objects: 6975, done.
remote: Counting objects: 100% (1063/1063), done.
remote: Compressing objects: 100% (138/138), done.
remote: Total 6975 (delta 987), reused 930 (delta 925), pack-reused 5912 (from 1)
Receiving objects: 100% (6975/6975), 62.36 MiB | 10.47 MiB/s, done.
Resolving deltas: 100% (4940/4940), done.
Processing ./dlatk
  Preparing metadata (setup.py) ... done
Requirement already satisfied: nltk<=3.9.1,>=3.1 in /usr/local/lib/python3.11/dist-packages (from dlatk==1.3.1) (3.9.1)
Requirement already satisfied: numpy<=2.0.2 in /usr/local/lib/python3.11/dist-packages (from dlatk==1.3.1) (2.0.2)
Requirement already satisfied: pandas<=2.2.2,>=0.17.1 in /usr/local/lib/python3.11/dist-packages (from dlatk==1.3.1) (2.2.2)
Requirement already satisfied: patsy<=1.0.1,>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from dlatk==1.3.1) (1.0.1)
Requirement already satisfied: python-dateutil<=2.8.2,>=2.5.0 in /usr/local/lib/python3.11/dist-packages (from dlatk==1.3.1) (2.8.2)
Requirement already satisfied: scikit-learn<=1.6.1 in /usr/local/lib/python3.11/dist-packages (from dlatk==1.3.1) (1.6.1)
Requirement already satisfied: scipy<=1.14.1,>=0.13.3 in /usr/local/lib/python3.11/dist-packages (from dlatk==1.3.1) (1.14.1)
Requirement already satisfied: statsmodels<=0.14.4,>=0.5.0 in /usr/local/lib/python3.11/dist-packages (from dlatk==1.3.1) (0.14.4)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from nltk<=3.9.1,>=3.1->dlatk==1.3.1) (8.1.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.11/dist-packages (from nltk<=3.9.1,>=3.1->dlatk==1.3.1) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.11/dist-packages (from nltk<=3.9.1,>=3.1->dlatk==1.3.1) (2024.11.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from nltk<=3.9.1,>=3.1->dlatk==1.3.1) (4.67.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<=2.2.2,>=0.17.1->dlatk==1.3.1) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<=2.2.2,>=0.17.1->dlatk==1.3.1) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil<=2.8.2,>=2.5.0->dlatk==1.3.1) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn<=1.6.1->dlatk==1.3.1) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels<=0.14.4,>=0.5.0->dlatk==1.3.1) (24.2)
Building wheels for collected packages: dlatk
  Building wheel for dlatk (setup.py) ... done
  Created wheel for dlatk: filename=dlatk-1.3.1-py3-none-any.whl size=35635829 sha256=21a7df4625cdfabac0ec0a623186e995e7106f90d6891ff10bfa2b7eec9dfe32
  Stored in directory: /tmp/pip-ephem-wheel-cache-l5d8xqjw/wheels/cc/c9/65/e1ecc64bac68518c07b286fe86921aa938e11a0c3a87d8ff93
Successfully built dlatk
Installing collected packages: dlatk
Successfully installed dlatk-1.3.1
Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.16.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from jupysql) (2.0.40)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.11/dist-packages (from jupysql) (25.20.2)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.26-py3-none-any.whl.metadata (527 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.23.0-py2.py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->jupysql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->jupysql) (4.13.0)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.17.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2025.1.31)
Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 95.1/95.1 kB 3.3 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 192.8/192.8 kB 7.0 MB/s eta 0:00:00
Downloading ploomber_core-0.2.26-py3-none-any.whl (22 kB)
Downloading posthog-3.23.0-py2.py3-none-any.whl (84 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 85.0/85.0 kB 7.0 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.11.1 jupysql-plugin-0.4.5 monotonic-1.6 ploomber-core-0.2.26 posthog-3.23.0

### Download data and insert into SQLite database

In [ ]:
# this downloads the csvs you need
!git clone https://github.com/CompPsychology/psych290_data.git

Cloning into 'psych290_data'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 11 (delta 0), reused 8 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (11/11), 13.84 MiB | 11.44 MiB/s, done.

Now, create a `username` variable which we use to name the database.

In [ ]:
username = "your_name"

We then load the downloaded data into a database named [username].db in the sqlite_data folder.

In [ ]:
# load the required package -- similar to library() function in R
import os
from dlatk.tools.importmethods import csvToSQLite

# store the complete path to the database -- sqlite_data/[username].db
database = os.path.join("sqlite_data", username)

# import CSVs into tables in this database
csvToSQLite(
    "psych290_data/dla_tutorial/msgs.csv",
    database,
    "dla_tutorial_msgs"
)

csvToSQLite(
    "psych290_data/dla_tutorial/blog_outcomes.csv",
    database,
    "dla_tutorial_outcomes"
)

SQL Query: CREATE TABLE dla_tutorial_msgs (message_id INT, user_id INT, date VARCHAR(31), created_time VARCHAR(31), message LONGTEXT);

Importing data, reading psych290_data/dla_tutorial/msgs.csv file
Reading 10000 rows into the table...
Reading 10000 rows into the table...
Reading 10000 rows into the table...
Reading remaining 1674 rows into the table...
Importing data, reading psych290_data/dla_tutorial/blog_outcomes.csv file
Reading remaining 1000 rows into the table...

SQL Query: CREATE TABLE dla_tutorial_outcomes (user_id INT, gender INT, age INT, occu VARCHAR(31), sign VARCHAR(15), is_indunk INT, is_student VARCHAR(7), is_education VARCHAR(7), is_technology VARCHAR(7));

### Setup database connection

Finally, we establish a connection with the (SQLite) database with the `%sql` extension from colab.

In [ ]:
# loads the %%sql extension
%load_ext sql

# connects the extension to the database
from sqlalchemy import create_engine
engine = create_engine(f"sqlite:///sqlite_data/{username}.db?charset=utf8mb4")
%sql engine

#set the output limit to 50
%config SqlMagic.displaylimit = 50

## Recap

### List all the tables.

After connecting to a specific database, list all the tables inside it using a `%sqlcmd` statement. For a more readable output, you can save the output to a variable and print it.

In [ ]:
result = %sqlcmd tables
print(result)

+-----------------------+
|          Name         |
+-----------------------+
|   dla_tutorial_msgs   |
| dla_tutorial_outcomes |
+-----------------------+

This homework will use both `dla_tutorial_msgs` and `dla_tutorial_outcomes` tables.

### Now, let's view schema of these tables.

Remember, `PRAGMA` and  `%sqlcmd` are statements that help run meta commands like looking at table details and database properties.

In [ ]:
%%sql

PRAGMA table_info(dla_tutorial_msgs);

Running query in 'sqlite:///sqlite_data/your_name.db?charset=utf8mb4'

+-----+--------------+-------------+---------+------------+----+
| cid |     name     |     type    | notnull | dflt_value | pk |
+-----+--------------+-------------+---------+------------+----+
|  0  |  message_id  |     INT     |    0    |    None    | 0  |
|  1  |   user_id    |     INT     |    0    |    None    | 0  |
|  2  |     date     | VARCHAR(31) |    0    |    None    | 0  |
|  3  | created_time | VARCHAR(31) |    0    |    None    | 0  |
|  4  |   message    |   LONGTEXT  |    0    |    None    | 0  |
+-----+--------------+-------------+---------+------------+----+

In [ ]:
%%sql

PRAGMA table_info(dla_tutorial_outcomes);

Running query in 'sqlite:///sqlite_data/your_name.db?charset=utf8mb4'

+-----+---------------+-------------+---------+------------+----+
| cid |      name     |     type    | notnull | dflt_value | pk |
+-----+---------------+-------------+---------+------------+----+
|  0  |    user_id    |     INT     |    0    |    None    | 0  |
|  1  |     gender    |     INT     |    0    |    None    | 0  |
|  2  |      age      |     INT     |    0    |    None    | 0  |
|  3  |      occu     | VARCHAR(31) |    0    |    None    | 0  |
|  4  |      sign     | VARCHAR(15) |    0    |    None    | 0  |
|  5  |   is_indunk   |     INT     |    0    |    None    | 0  |
|  6  |   is_student  |  VARCHAR(7) |    0    |    None    | 0  |
|  7  |  is_education |  VARCHAR(7) |    0    |    None    | 0  |
|  8  | is_technology |  VARCHAR(7) |    0    |    None    | 0  |
+-----+---------------+-------------+---------+------------+----+

### They are missing indices. Let's add indices on the main column that connects the table.

Since the `user_id` columns have the same name in both the tables, we'll use different names for their respective indices to avoid collision.

In [ ]:
%%sql

CREATE INDEX idx_dla_tutorial_msgs_user_id ON dla_tutorial_msgs (user_id);
CREATE INDEX idx_dla_tutorial_msgs_message_id ON dla_tutorial_msgs (message_id);

CREATE INDEX idx_dla_tutorial_outcomes_user_id ON dla_tutorial_outcomes (user_id);

Running query in 'sqlite:///sqlite_data/your_name.db?charset=utf8mb4'

++
||
++
++

## Questions

### 0) Select 10 random rows from both tables.

Look at the output, familiarize yourself with it a little bit. üëÄ The messages in the msgs table are blog posts. Skim one.

**Answer:**

In [ ]:
%%sql

### 1) Calculate the minimum, maximum and average age for both genders, in one SQL command.

**Answer:**

In [ ]:
%%sql

### 2) Calculate the average age for every occupation, one command.

**Answer:**

In [ ]:
%%sql

### 3) What's the average age difference between Libras and Leos?

We need a `GROUP BY` and `AVG` but we don't need to that for all groups, just the ones with care about.

**Hint:** You can do just get the average age for Libras and Leos, and then subtract them from one another in a separate command or using phone calculator technology.

**Answer:**

In [ ]:
%%sql

### 4) How many blog posts do we have from authors from a given age?

i.e., how many from age 17, 18, etc.

**Hint:** First create a table with number of messages per user, then join on the extra info that you need.

**Answer:**

In [ ]:
%%sql

### 5) How many blog posts do we have from authors in an industry?

**Answer:**

In [ ]:
%%sql

### 6) How many blog posts do we have from a given year?

**Hint:** remember the  `strftime('%Y', sql_timeformat)` command (or in MySQL üê¨üê¨üê¨
 `YEAR(sql_timeformat)`).

 Perhaps helpful: don't forget you can use `AS` to name the result of some other command/function.

**Answer:**

In [ ]:
%%sql

### 7) How many blog posts do we have from a given year only written by  Tauruses?

**Answer:**

In [ ]:
%%sql

### 8) Should you do something to make the last queries for questions 1 and 2 run faster? If so, give the query

In our queries, we are partitioning columns with **GROUP BY**. So, it may help _index_ these columns.

**Answer:**

In [ ]:
%%sql

### 9) Can you pull out 10 blog posts that mention the word "boys"?

**Answer:**

In [ ]:
%%sql

### 10) (EXTRA CREDIT) How many blog posts do we have from a given month (i.e., from Feb of 2001, and so forth)?

**Hint:** **ORDER BY** (and another function) can use more than one variable...

**Answer:**

In [ ]:
%%sql